.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Reduce width */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

#shoeForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#shoeForm label {
    font-weight: bold;
    font-size: 1em; /* Reduce font size */
}

#shoeForm input[type="text"], 
#shoeForm input[type="number"] {
    padding: 5px; /* Reduce padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em; /* Reduce font size */
}

#shoeForm input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9em; /* Reduce font size */
}

#shoeForm input[type="submit"]:hover {
    background-color: #0056b3;
}

/* New styles for home link and clear local storage button */
a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
}

button#clearLocalStorage {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button#clearLocalStorage:hover {
    background-color: #c82333;
}
