/*  title */
.title_container {
  display: flex;
  justify-content: center;
  margin: 0;
  border-bottom: 1px solid;
}

.title {
  width: 150px;
}

/* categories */

.category_value {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.category_value div {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_value .select {
  width: 110px;
  text-align: start;
  padding: 0.5em;
  padding-right: 2em;
  margin-left: 0.2em;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 1.3rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.category_value .select:hover {
    background-color: #f0f0f0;
    transform: scale(1.02); 
}

.navbar-nav {
  flex-direction: row;
}

#navbarNavAltMarkup {
  margin-top: 1em;
}

.navbar-toggler {
  transition: opacity 0.3s ease;
}

.search_container {
    height: 10vh;
}

#search_bar {
  height: 40px;
  margin-bottom: 1.5em;
}

/* shoe display */
.display_container {
  display: flex;
  flex-wrap: wrap;
}

.shoe_item {
  display: flex;
  flex-direction: column;

  width: 20%;
  text-align: center;
  text-transform: capitalize;
  align-items: center;
}

.shoe_item h4 {
  color: grey;
  margin: 0.5em;
  font-size: 1.2rem;
}

img {
  width: 75%;
  height: 75%;
}

#item_message {
  color: rgb(151, 69, 69);
}

.no-shoes {
  margin: 0 auto;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  /* title */
  .title {
    width: 140px;
  }
  /* categories */
  .category_value {
    width: 100%;
  }
  .category_value div {
    margin-bottom: 0.2em;
  }

  .category_value .select {
    font-size: 1rem;
    width: 350px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 0;
    margin: 0;
  }

  #search_bar {
    height: 30px;
    margin-bottom: -1em;
  }

  .navbar-nav {
    flex-direction: column;
  }

  /* display */
  .display_container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .shoe_item {
    width: 90%;
    padding-bottom: 2em;
    align-items: center;
    border-bottom: 1px solid;
  }

  img {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .shoe_item h4 {
    font-size: 1rem;
  }
}
