




.title_container {
    display: flex;
    justify-content: center;
    margin: 0;
    border-bottom: 1px solid;
}

.title {
    width: 300px;
    
}



.category_value {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40%;

    
}

.category_value div {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_value select {
    width: 100%;
    padding: 0.5em ;

   border: none;
    background-color: #fff;
    font-size: 1.5rem;
}

.category_value select:hover {
    background-color: #f0f0f0;
}

.display_container {
    display: flex;
    flex-direction: column;
    margin: 1em;
   width: 40%;
}

.display_container {
    text-transform: uppercase;
}

.shoe_item {
    text-align: center;
}

.shoe_item h5{
    color: grey;
}

img {
    width: 50%;
    height: 75%;
}




@media (max-width: 700px) {
    .title {
        width: 200px;
    }

    .category_value {
        width: 90%;
    }

    .category_value select {
        font-size: 1rem;
    }

    .display_container {
        
        align-items: center;
    }

    img {
        width: 50%;
    }
}