/*  title */
.title_container {
  display: flex;
  justify-content: center;
  margin: 0;
  border-bottom: 1px solid;
}

.title {
  width: 150px;
}

/* categories */


#search_bar {
  height: 40px;

}

#search_bar, .category_value .select {
  height: 40px; /* You can adjust this value as needed */
}

.filter_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.category_value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.category_value div {

  display: flex;
  justify-content: center;
  align-items: center;
}

.category_value .select {
  height: 100%;
  width: 100%;
  text-align: start;
  padding: 0.5em;
  padding-right: 2em;
  margin-left: 0.2em;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 1.3rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.category_value .select:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-container {
    margin-right: 20px; /* Adjust this value as needed */
  }

#navbarNavAltMarkup {
  margin-top: 1em;
}

.navbar-toggler {
  transition: opacity 0.3s ease;
}





/* shoe display */
.display_container {
  display: flex;
  flex-wrap: wrap;
}

.shoe_item {
  display: flex;
  flex-direction: column;

  width: 20%;
  text-align: center;
  text-transform: capitalize;
  align-items: center;
}

.shoe_item h4 {
  color: grey;
  margin: 0.5em;
  font-size: 1.2rem;
}

img {
  width: 75%;
  height: 75%;
}

#item_message {
  color: rgb(151, 69, 69);
}

.no-shoes {
  margin: 0 auto;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  /* title */
  .title {
    width: 140px;
  }

  /* categories */



  .category_value {
    width: 100%;
  }
  .category_value div {
    margin-bottom: 0.2em;
  }

  .navbar-nav div {
    width: 100%;
  }

  .navbar-nav div, .navbar-nav {
    width: 100%; /* ensure parent elements also stretch to full width */
  }

  .category_value .select {
    padding: 0.5em; /* add some padding */
    
    border-radius: 4px; /* round the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* add subtle shadow */
  }

  #search_bar {
    height: 30px;
   
  }

  .navbar-nav {
    flex-direction: column;
  }

  /* display */
  .display_container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .shoe_item {
    width: 90%;
    padding-bottom: 2em;
    align-items: center;
    border-bottom: 1px solid;
  }

  img {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .shoe_item h4 {
    font-size: 1rem;
  }
}


.hamburger-menu {
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 2em;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
}

.nav-open {
  display: flex;
}

@media (max-width: 700px) {
  .filter_container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .flex_menu {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: flex;
  }

  

  .category_value .select-container,
  .category_value .search_container {
    display: none; /* Hide the select options and the search bar on small screens */
  }

  .nav-open .select-container,
  .nav-open .search_container {
    display: block; /* Show them when nav is open */
  }
}