



.title_container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.title {
    width: 300px;
    
}



.category_value {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;
    padding: 1em;
}

.category_value div {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_value select {
    width: 100%;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    background-color: #fff;
    font-size: 16px;
}

label {
    font-size: 1.2rem;
}


@media (max-width: 700px) {
    .title {
        width: 200px;
    }
}